* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family:  "Kumbh Sans", sans-serif;
  
  
  
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  
}

:root {
  --color1: #B76E79;
  --color2: #6b0003;
  --color3: #ca1414;
  --color4: #E7242D;
  --color5: #000000;

  --text: #ffffff;

}


body {
  color: #ffffff;
}

.pulse{
  animation: pulsifer 1s ease 0s infinite normal;
}


@keyframes pulsifer {
  from{
      opacity: 0%;
  }

  to{
      opacity: 100%;
  }
  
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 3em;
  color: var(--text);
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  animation: slideRight 1s ease forwards;
  opacity: 0;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.5s;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover {
  color: var(--color2);
  text-decoration: underline;
  text-shadow: 0 0 5px var(--color2);
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--color5);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
}

.home-content h3 span {
  color: #ca1414;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700px;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid var(--color3);
  border-radius: 50%;
  color: var(--color3);
  text-decoration: none;
  transition: 0.5s ease;
  margin: 30px 15px 30px 0px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.1s * var(--i));
}

.home-sci a:hover {
  background-color: var(--color3);
  color: #081b29;
  box-shadow: 0 0 20px var(--color3);
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background-color: var(--color3);
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 0 5px var(--color3), 0 0 25px var(--color3);
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1.5s;
}

.btn-box:hover {
  box-shadow: 0 0 5px var(--color3), 0 0 25px var(--color3), 0 0 50px var(--color3), 0 0 100px var(--color3),
    0 0 200px var(--color3);
}

@keyframes slideRight {
  0% {
    transform: translate(-100px);
    opacity: 0;
  }

  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.home-img img {
  position: relative;
  top: -0.5rem;
  width: 30vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--color4);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.home-img{
  animation: slideLeft 1.5s ease forwards;
  
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--color3), 0 0 50px var(--color3), 0 0 100px var(--color3);
}

.heading {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 0px;
}

.education {
  padding: 100px 15px;
  background: rgb(255, 255, 255);
}

.education h2 {
  margin-bottom: 5rem;
}

.timeline-items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--color3);
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-last-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-last-child(even) {
  padding-left: calc(50% + 30px);
}



.timeline-dot {
  height: 21px;
  width: 21px;
  background-color: var(--color3);
  box-shadow: 0 0 25px var(--color3), 0 0 50px var(--color3);
  position: absolute;
  left: calc(50% - 8.5px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: var(--text);
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: rgb(197, 197, 197);
  border: 3px solid var(--color3);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--color3);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--color3);
}

.timeline-content h3 {
  font-size: 20px;
  color: var(--color5);
  margin: 0 0 15px;
  font-weight: 500;
}

.timeline-content p {
  color: var(--color5);
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color3);
}

::-webkit-scrollbar-track {
  background-color: white;
  width: 50px;
}

.appear {
  animation: cardappear 2s ease forwards;
  opacity: 0;
}

@keyframes cardappear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.contact {
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.contact .container {
  height: 100vh;
  min-height: 700px;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.contact .container > div {
  grid-column: 1/2;
  grid-row: 1/2;
}

.left {
  background-color:transparent;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 65px 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  z-index: 3;
  position: relative;
}

.contact-heading h1 {
  font-weight: 600;
  color: antiquewhite;
  font-size: 3.5rem;
  line-height: 0.9;
  white-space: nowrap;
  margin-bottom: 1.2rem;
}

.contact-heading h1 span {
  color: var(--color3);
}

.textc {
  color: aliceblue;
  line-height: 1.1;
  font-size: 1rem;
}

.textc a {
  color: var(--color3);
  transition: 0.3s;
  text-decoration: none;
}

.textc a:hover {
  color: rgb(2, 103, 110);
}

.contact-form {
  display: grid;
  margin-top: 2.55rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
}

.input-wrap.w-100 {
  grid-column: span 2;
}

.input-wrap{
    position: relative;
}

.contact-info {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
  border: none;
  outline: none;
  font-family: inherit;
  border-radius: 20px;
  color: var(--color3);
  font-weight: 600;
  font-size: 0.95rem;
  transition: 0.3s;
  border: 2px solid transparent;
  box-shadow: 0 0 0px var(--color3);
}

.contact-info:hover {
  background-color: antiquewhite;
}

.input-wrap label {
  position: absolute;
  top: 50%;
  left: calc(1.35rem + 2px);
  transform: translateY(-50%);
  color: var(--color3);
  transition: 0.3s;
}

.input-wrap .icon {
  position: absolute;
  right: calc(1.35rem + 2px);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1.25rem;
  color: #081b29;
}


textarea.contact-info{
    resize: none;
    width: 100%;
    min-height: 150px;

}


textarea.contact-info ~ label{
    top: 1.2rem;
    transform: none;

}


.input-wrap.focus .contact-info{
    background-color: aliceblue;
    border: 1px solid var(--color3);
    box-shadow: 0 0 0 5px #E7242D;
}

.input-wrap.focus label{
    color: #081b29;
}

.input-wrap.focus.non-empt label{
    font-size: 0.66rem;
    top: 0.75rem;
    transform: translateY(0);
    
}

.input-wrap.non-empt label{
    font-size: 0.66rem;
    top: 0.75rem;
    transform: translateY(0);
    
}

.contact-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    width: 100%;
    grid-column: span 2;
}
  

.btn{
    display: inline-block;
    padding: 1.1rem 2rem;
    background-color: #c82b35;
    border-radius: 40px;
    border: NONE;
    font-family: inherit;
    font-weight: 500;
    cursor:pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: white;
    box-shadow: 0 0 25px var(--color3), 0 0 50px var(--color3), 0 0 100px var(--color3);
}


.btn.upload{
    position: relative;
    background-color: #fff;
}

.btn.upload:hover{
    
    background-color: #cebebe;
}

.btn.upload input{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    cursor: pointer;
    opacity: 0;

}

.right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    overflow: hidden;
    pointer-events: none;
}


.image-wrapper{
    position: relative;
    grid-column: 2;
}

.image-wrapper .img{
    position: absolute;
    height: 130%;
    left: 60%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    border: 0;
}


.wave-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    background-color: var(--color5);
    margin: 0;
    

}

.wave-wrap svg{
    position: absolute;
    height: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 2px);
    margin: 0;
    border: 0;

}
#wave{
    height: 100%;
    fill: var(--color5);
    margin: 0;
    border: 0px;
    
}

#skills{
  background-color: var(--color5);
  height: 100vh;
}

.skills-heading{
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0px;

}
.skills{
  width: 100vh;
  height: 80vh;
  background-color: var(--color5);
  display: flex;
  flex-direction: column;
  margin:0 auto;
  justify-content: center;
  align-content: center;
  align-self: center;
  max-width: 80%;
  
 
}


/* .skills div.frontend{
  flex-grow: 1;
  
} */
.tab{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
 
}



.tab button{
  flex-grow: 1;
}

.skill{
  background-color: #282828;
  padding-bottom: 10px;
}

.frontend{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 300px ;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 50px;
  background-color: #191919;
  /* position: absolute; */
}

.grid-item{
  
  width: 100%;
  height: 100%;

}

.btm{
  grid-row:2/3;
  grid-column: 2/3;
}

.btm1{
  grid-row:2/3;
  grid-column: 3/4;
}

.frontend .spi{
  grid-row: 2 / 3;
grid-column: 2 / 3;
width: 60%;
margin-left: calc(20%);
}

.skill-icon{
  height: 150px;
  width: 150px;
  align-items: center;
  justify-content: center;
}



.grid-item p{
    text-align: center;

  }


.backend{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px ;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 50px;
  background-color: #191919;
  
}

.frontend div{
  display: flex;
  flex-direction: column;
}

.backend div{
  display: flex;
  flex-direction: column;
}

.dsa div{
  display: flex;
  flex-direction: column;
}

.dsa{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px ;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 50px;
  background-color: #191919;
}





/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  border-bottom: 3px solid var(--color3);
}

/* Style the tab content */
.tabcontent {
  display: none;
  /* padding: 6px 12px; */
  
  border-top: none;
}

.grid-item img{
  animation: zoomin 1s ease forwards;
  padding: 6%;
  margin: 5%;
  width: 60%;
  height: 60%;
  align-self: center;
 
}


@keyframes zoomin {
  0%{
   transform: scale(0%)

  }

  100%{
   transform: scale(100%)
   
  }
}

.hidden{
  opacity: 0;
  transition: all 1s;
}
.show{
  opacity: 1;
}

footer{
  background-color: #111;
}
.footerContainer{
  width: 100%;
  padding: 100px 40px 30px ;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding:  10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 1.5em;
  color: black;
  opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
  background-color: var(--color3);
  transition: 0.5s;
  transform: translateY(-10px);
}
.socialIcons a:hover i{
  color: rgb(255, 255, 255);
  transition: 0.5s;
  
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color:white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}
.footerNav ul li a:hover{
  opacity: 1;
  color: var(--color3);
  text-shadow: 0 0 5px var(--color3);
}
.footerBottom{
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;
  } 
  .footerNav ul li{
      width:100%;
      text-align: center;
      margin: 10px;
  }
  .socialIcons a{
      padding: 8px;
      margin: 4px;
  }
}



header nav a.active {
  color: #ff0000; /* Change the color to highlight the active link */
  font-weight: bold; /* Add emphasis to the active link */
  /* Add any other styling you want for the active link */
}

#menu-icon{
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
  }

@media(max-width:1285px){
  html{
  font-size: 55%;
  }
  .services-container{
  padding-bottom: 7rem;
  grid-template-columns: repeat (2,1fr);
  margin: 0 5rem;
  }
  }

@media(max-width:991px){
  header {
  padding: 2rem 3%;
  }
  /* section{
  padding: 10rem 3% 2rem;
  }  */
  .timeline-items::before{
  left: 7px;
  }
  .timeline-item:nth-child(odd){
  padding-right: 0;
  text-align: left;
  }

  .timeline-item:nth-child(odd),
.timeline-item:nth-child(even) {
padding-left: 37px;
}
.timeline-dot{
left: 0;
}
.services{
padding-bottom: 7rem;
}
.testimonials .wrapper{
grid-template-columns: repeat(1,1fr);
}
.contact form{
flex-direction: column;
}
.footer {
padding: 2rem 3%; 
}
}
@media(max-width:895px) {
  #menu-icon{
    display: block;
  }

  .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    width:50%;
    padding: 1rem 3%;
    background:rgba(0,0,0,0.8);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 2rem;
    border-left:2px solid var(--color5);
    border-bottom:2px;
    display: none;
  }

  .navbar.active{
    display: block;
  }

  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: white;

  }
   .home{
    flex-direction: column-reverse;
    /* margin :5rem 4rem; */
    justify-content: center;
    gap: 20px;

   }

   .home-content h3{
    font-size:2.6rem;
   }

   .home-content h1{
    font-size:2.6rem;
    margin-top: 3rem;
   }

   .home-content p{
    max-width: 600px;
    margin: 0 auto;

   }

   .home-img img{
    width: 56vw;
   }

   .services h2{
    margin-bottom: 3rem;
   }

   .services-container{
    grid-template-columns: repeat(1,1fr);
   }

   .contact {
    background-color: black;
  }

  .container {
    grid-template-columns: 1.5fr;
  }

  .right {
    display: none;
  }

  .left {
    justify-content: center;
  }
} 


@media (max-width:900px) {
  #skills{
    background-color: var(--color5);
    height: 100vh;
  }
  
  .skills-heading{
    text-align: center;
    font-weight: 700;
    font-size: 7rem;
    margin-bottom: 0px;
  
  }
  .skills{
    width: 100vh;
    height: 80vh;
    background-color: var(--color5);
    display: flex;
    flex-direction: column;
    margin:0 auto;
    justify-content: center;
    align-content: center;
    align-self: center;
    max-width: 600px;
    max-height: 900px;
    flex-shrink: 1
   
  }
  
  
  /* .skills div.frontend{
    flex-grow: 1;
    
  } */
  .tab{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    flex-basis: auto;
    justify-content: center;
    margin: 0px;
    padding: 0xp;
   
  }
  
  
  
  .tab button{
    flex-grow: 1;
  }
  
  .skill{
    background-color: #282828;
    padding-bottom: 10px;
  }
  
  .frontend{
    display: grid;
    grid-template-columns: 20vh 20vh ;
    grid-template-rows: 20vw 20vw 20vw;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 50px;
    background-color: #191919;
    /* position: absolute; */
  }
  
  .grid-item{
    
    width: 100%;
    height: 100%;
  
  }
  
  .btm{
    grid-row:3/4;
    grid-column: 1/2;
  }
  
  .btm1{
    grid-row:3/4;
    grid-column: 2/3;
  }
  
  .frontend .spi{
    grid-row: 2 / 3;
  grid-column: 2 / 3;
  width: 100%;
  margin-left: 0;
  }
  
  .skill-icon{
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
  }
  
  
  
  .grid-item p{
      text-align: center;
  
    }
  
  
  .backend{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px ;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 50px;
    background-color: #191919;
    
  }
  
  .frontend div{
    display: flex;
    flex-direction: column;
  }
  
  .backend div{
    display: flex;
    flex-direction: column;
  }
  
  .dsa div{
    display: flex;
    flex-direction: column;
  }
  
  .dsa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px ;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 50px;
    background-color: #191919;
  }
  
  
  
  
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    flex-grow: 1;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
    border-bottom: 3px solid var(--color3);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    /* padding: 6px 12px; */
    
    border-top: none;
  }
  
  .grid-item img{
    animation: zoomin 1s ease forwards;
    padding: 6%;
    margin: 5%;
    width: 60%;
    height: 60%;
    align-self: center;
   
  }
  
  
  @keyframes zoomin {
    0%{
     transform: scale(0%)
  
    }
  
    100%{
     transform: scale(100%)
     
    }
  }
  
  .hidden{
    opacity: 0;
    transition: all 1s;
  }
  .show{
    opacity: 1;
  }

  .left {
    background-color:transparent;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 65px 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    z-index: 3;
    position: relative;
  }
}

